<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=liveloggerstorage;AccountKey=V3W+5u4jHEc22HWhpVoBSqBmwQNEgjiAvmstDd0DcLrpVI9ts1w2KC9j5xs2zNq/7H8SqjX6Za8pmBDUd1My2Q==" />
  </appSettings>
</configuration>